@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

body {
    background: rgba(255, 250, 240, 0.652);
}

#myChart {
    height: 80vh !important;
    width: 80% !important;
    margin: auto;
    margin-top: 1rem;
    border-bottom: 2px dotted rgba(92, 92, 92, 0.2);
}

.error {
    position: relative;
    left: 42%;
    font-size: larger;
    font-weight: bold;
}

.hidden {
    display: none !important;
}



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: 0.4rem 1.3rem;
    margin: 0.2rem;
    margin-top: 1rem;
    background: transparent;
    border: 1.5px solid firebrick;
    border-radius: 0.5rem;
}

.btn:hover {
    background: firebrick;
    opacity: 0.8;
}

.text .btn {
    background: transparent;
    border: none;
    height: 55px;
}

.text .btn:hover {
    outline: 1px solid gray;
    opacity: 1;
}


.text {
    display: contents;
}



/* loader */
.lds-facebook {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 48%;
    top: 30%;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: firebrick;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}


/* dropdown */

.user-display-choose {
    position: absolute;
    left: 40%;
    top: 30%;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.user-display-choose h3 {
    opacity: 0;
    padding: 1rem;
    transform: translateX(150px);
    background: snow;
    animation: myMove 1s forwards;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0,0.2);
}


.user-display-choose h4 {
    font-size: 1.2rem;
    background: snow;
}

.flex-options {
    opacity: 0;
    transform: translateY(150px);
    text-align: center;
    margin-top: 1rem;
    line-height: 1.8rem;
}

@keyframes myMove {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myDrop {
    100% {
        opacity: 0.8;
        transform: translateY(0);
    }
}

.opt{
    font-weight: lighter;
}

.opt:hover {
    background: #a0a0a0;
    outline: 1px solid rgba(0, 0, 0,0.6);
    font-weight: 900;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3.5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}